.content {background-color: black;
      font-family: sans-serif;
      font-size: 20px;
      line-height: 25px;
    border-color: red;
      border-style: dotted;
      margin-left: auto;
      padding: 8px;
    
      background:
    url('https://previews.123rf.com/images/katyau/katyau1205/katyau120500017/13579870-Autumn-falling-leaves-background-Seamless-vector-pattern-Stock-Vector.jpg');
      } 
    
   .zanr {color: black;
      text-align: center;
      font-size: 45px;
      text-decoration: underline}
    
      
      h1 {font-size: 40px;}
      h2 {font-size 40px;}
      
      h1, h2 {color: #000080;}
      h1, h2 {text-align: center}
    
    p {color: #000000}